
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
    margin: auto;
    width: 500px;
}

table {
    width: 1000px;
    background-color: #FFF;
    margin: 0 auto;
    border-spacing: 0;
    text-align: center;
    border: solid 2px #696969;
    padding: 10px;
}

table img {
    height: 218px;
    width: 151px;
    margin-top: 6px;
    margin-bottom: 2px;
}

a {
    text-decoration: none !important;
}


/* general styles */
#main { background: #fff }

#singleColumn {
    margin: 20px 30px;
    text-align: left;
}

.white { background-color: #fff }

.bubble {
    font-weight: bold;
    background-color: #f5eabe;
    padding: 5px;
    color: inherit;
}

.hMargin { margin: 0 30px }

.smallText { font-size: small }

input[type=submit] {
    width: 125px;
    background: none;
    padding: 5px;
    font-weight: bold;
    color: #75514A;
    border: solid 2px #75514A;
    cursor: pointer;
}
input[type=submit]:hover {
    background: beige;
}

/* Header */
#header {
    height: 150px;
    background: #fff;
}
.headerList {
    height: 50px;
}
#logo {
    height: 155px;
    width: 300px;
    float: left;
    margin-left: 130px;
    margin-top: 20px;
}

#logoText {
    float: left;
    margin: 20px 0 0 10px;
    /* font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#logoText_start {
    float: none;
    margin: 20px auto 0px;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
    background: #fff;
}

.headerWidget {
    width: 194px;
    margin: 15px;
    color: white;
    font-size: medium;
    float: right;
    line-height: 25px;
    cursor: pointer;
    border: none;
    padding: 8px;
    background: #C8BEAB;
    border: solid 2px #75514A;
    text-decoration: none;
    font-weight: bold;
}

.headerWidget a {
    text-decoration: none;
    font-weight: bold;
    color: #75514A;
}

#footer {
    height: 65px;
    padding-top: 25px;
    font-size: small;
    clear: left;
    background: #fff;
}

#footerText a {
    color: black;
    font-weight: bold;
}



#indexRightColumn {
    padding: 0px 0px 0px 30px;
    text-align: center;
    float: left;
    background: #FFF;
}

.categoryBox {
    height: 437px;
    width: 323px;
    margin: 7px auto 7px;
    float: inherit;
    background: none;
}

.container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 437px;
    width: 303px;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFF;
}

.text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.categoryBox:hover .overlay {
    opacity: .75;
}

.categoryLabelText {
    line-height: 150%;
    font-size: large;
    font-weight: bold;
    color: #000;
}




/* category page styles */
#categoryRightColumn {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.categoryButton {
    margin: 15px 22px;
    padding: 13px;
    display: block;
    background-color: #FF8C00;
}

#selectedCategory {
    background-color: #b2d2d2;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    margin: -34px 0 0 0;
    font-size: medium;
    font-weight: bold;
    float: right;
    background: #C8BEAB;
    color: #75514A;
    border: solid 2px #75514A;
    border-bottom: none !important;
    padding: 9px;
}

.categoryText {
    line-height: 25px;
    font-size: x-large;
}

#productTable td { 
    width: 145px;
    height: 90px;
    border-top: solid 1px #C8BEAB;
}

/* Zooming for Item Images */
#item_image:hover {
  cursor: pointer;
  transform: scale(2);
}
/* cart page styles */
#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable td {
    width: 145px;
    height: 90px;
    border-top: solid 1px #C8BEAB;
}


/* checkout page styles */
#checkoutTable {
    width: 360px;
    background-color: #f5eabe;
    float: left;
    height: 280px;
}

#infoBox {
    width: 300px;
    padding-left: 30px;
    float: left;
}

#priceBox {
    padding: 10px;
    margin: 10px 0;
    height: 128px;
    background-color: #c3e3e0;
}

#centerColumn {
    margin-top: 10px;
    float: left;
}
/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    width:540px;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

#orderSummaryTable {
    width: 100%;
    text-align: left;
    height: 200px;
}

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
    text-align: left;
    height: 200px;
}
/* Sign In/Register Page Styles */
#btn_register:hover, #btn_login:hover {
    opacity: 0.8;
}
#email, #password, #username_register,#email_register, #password_register, #repeat_password_register{
    width: 95%;
    padding: 5px;
}
#container_register, #container_login{
    padding: 0px;
    width: 400px;
    margin: auto;
}
#container_login label, #container_register label {
    float: left;
}
#yatt_register, #yatt_login{
    text-align: center;
    size: 18px;
    font-family: Arial Black;
}

#btn_login, #btn_register {
    background-color: #C8BEAB;
    color: #75514A;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #75514A;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}
.register_text {
    margin-top: 10px;
}
.register_text a {
    font-weight: bold;
}